.App {
  width: 100vw;
  background-color: #eee;
  /* overflow: hidden; */
}

.App {
  display: grid;
  gap: 16px 12px;
  grid-template-columns: 1fr auto auto auto 1fr;
  grid-template-rows: auto auto auto 1fr;
  /* grid-template-areas:
    "11 12 13 14"
    "21 22 23 24"
    "31 32 33 34"; */
}

.App header {
  height: 256px;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 6;
}

.main-section .section {
  margin-bottom: 8px;
  min-height: 512px;
}

.side-section .section {
  margin-bottom: 8px;
}
